<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Burger!</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css">
		<!-- CSS only -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger_front.js"></script>
	</head>
	<body>
		<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">Welcome to King Burger!</h1>
  </nav>
</div>
<div class='mx-auto d-block'>
		{{{ body }}}
		</div>
	</body>
</html>
