
<li>
    {{this.burger_name}}

    <button class="change-devoured btn" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Eat this Burger!!{{else}}Order it again?{{/if}}
    </button>
</li>